@model IEnumerable<News>
@{
    ViewData["Title"] = "Новости";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Новости</h2>

<ul>
    @foreach (var news in Model)
    {
        <li>
            <a href="@Url.Action("Details", "News", new { id = news.Id })">@news.Title</a>
            <p>@news.Date.ToString("dd MMMM yyyy")</p>
        </li>
    }
</ul>
